.spinner {
  justify-self: center;
  position: absolute;
  color: var(--secondary) !important;
}
.project__container--spinner {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  z-index: 1000;
  transform: translateY(67vh);
}
@media (min-width: 1200px) {
  .project__container--spinner {
    transform: translateY(-55px);
  }
}
