:root {
  --text: #14050f;
  --light: #fcfcfd;
  --background: #f3eaff;
  --primary: #5a04c8;
  --primary-shade: #923dff;
  --secondary: #ee80a7;
  --accent: #e8504f;
  font-size: 2vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  line-height: 2.1vh;
  background-color: var(--text);
  color: var(--light);
}
@media (min-width: 1200px) {
  :root {
    font-size: 42px;
  }
  body {
    background-color: var(--background);
    line-height: 1.33;
  }
}
